html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    height: 100%;
    font-family: 'Herculanum LT Pro', sans-serif;
}

main {
    background-image: url("./assets/arrow.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 66%;
    height: 100%;
}

h1 {
    font-size: 50pt;
    margin: 0;
}

section {
    width: 17%;
    height: 100%;
    background-color: #face8d;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

@keyframes zoom {
    100% {transform: scale(1.2);}
}

@keyframes emphasize {
    0% { 
        color:#fbd0a2; font-size: 60pt;
    }
    25% {
        color:#face8d;
    }
    50% { 
        color:#e37120;
    }
    75% {
        color:#a15419
    }
    100% { 
        color:#964637;
    }
}

.current-wins {
    animation-name: emphasize;
    animation-duration: 1s;
    color: black;
}

.fighter:hover {
    cursor: pointer;
    animation-duration: 1s;
    animation-name: zoom;
    animation-fill-mode: forwards;
}

h2 {
    font-size: 20pt;
    margin: 0;
}

p {
    font-size: 15pt;
}

section, .computer-header, .person-header, .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-header, .person-header {
    margin-top: 30%;
}

div, .reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #face8d;
    border: 3px solid #964637;
    border-radius: 5px;
}

.classic-game {
    width: 25%
}

.complex-game {
    width: 40%;
    margin-bottom: 10%;
}

strong {
    font-size: larger;
    color: #964637;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7%;
}

.classic-game:hover, .complex-game:hover, .reset-button:hover {
    background-color: #e37120;
    transition: 1.5s;
    cursor: pointer;
}

.images-complex, .images-classic, .play-screen {
    display: flex;
    flex-direction: row;
    border: none;
    background: none;

}

.play-screen {
    padding-bottom: 10%;
}

figcaption {
    font-size: 20pt;
    text-align: center;
}

#humanFig, #compFig {
    font-size: 30pt;
    margin-top: -5%;
    padding: 1%;
}

.reset-complex, .reset-classic {
    border: none;
}

.reset-button {
    font-family: 'Herculanum LT Pro', sans-serif;
    font-size: 20pt;
    width: 400px;
    padding: 3%;
}

.hidden {
    display: none;
}